In [1]:
import pandas as pd

In [5]:
df = pd.read_stata('/Users/tsukik/Downloads/airline_tatsuki/input/dta_clean/sample.dta')

In [6]:
df.head()

,index,fare,quarter,coupon_num,origin,destination,destination_final,roundtrip,transfer,passenger,...,coupon_total3,coupon_total4,passenger_ASVX1,passenger_ASVX2,passenger_ASVX3,passenger_ASVX4,ASVX1,ASVX2,ASVX3,ASVX4
0,3507,197,2015-01-01,2,BNA,ATL,ATL,0.0,1.0,1,...,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,3508,237,2015-01-01,2,BNA,ATL,ATL,0.0,1.0,1,...,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,3509,260,2015-01-01,2,BNA,ATL,ATL,0.0,1.0,1,...,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,3510,338,2015-01-01,2,BNA,ATL,ATL,0.0,1.0,1,...,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,3511,457,2015-01-01,2,BNA,ATL,ATL,0.0,1.0,1,...,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [ ]:
list_airport1 = []
for i in range(0, len(df)):
    if df.iloc[i].ASVX1 == 1:
        list_airport1.append(df.iloc[i].origin)

In [26]:
list_origin1 = [df.iloc[i].origin for i in range(0, len(df)) if df.iloc[i].ASVX1 == 1]
list_origin2 = [df.iloc[i].origin for i in range(0, len(df)) if df.iloc[i].ASVX2 == 1]
list_origin3 = [df.iloc[i].origin for i in range(0, len(df)) if df.iloc[i].ASVX3 == 1]
list_origin4 = [df.iloc[i].origin for i in range(0, len(df)) if df.iloc[i].ASVX4 == 1]
list_origin = list_origin1 + list_origin2 + list_origin3 + list_origin4

In [27]:
list_destination1 = [df.iloc[i].destination for i in range(0, len(df)) if df.iloc[i].ASVX1 == 1]
list_destination2 = [df.iloc[i].destination for i in range(0, len(df)) if df.iloc[i].ASVX2 == 1]
list_destination3 = [df.iloc[i].destination for i in range(0, len(df)) if df.iloc[i].ASVX3 == 1]
list_destination4 = [df.iloc[i].destination for i in range(0, len(df)) if df.iloc[i].ASVX4 == 1]
list_destination = list_destination1 + list_destination2 + list_destination3 + list_destination4

In [34]:
def unique(list1):
     
    # insert the list to the set
    list_set = set(list1)
    # convert the set to the list
    unique_list = (list(list_set))
    for x in unique_list:
        print(x)

In [36]:
list_airport = list_origin + list_destination
type(list_airport)

list

In [37]:
list_airport = list_origin + list_destination
list_airport = sorted(list_airport)
unique(list_airport)

BLI
BZN
ENA
EAT
MCO
PIT
LAS
BUR
SMX
PUW
CLT
MDW
SAN
ROC
JAC
RNO
DTW
PSP
PNS
MAF
MSY
RDU
RIC
RDM
AUS
BUF
KOA
ONT
PWM
LWS
IND
SFO
BNA
PHL
FSD
GEG
MSP
OME
JNU
MFR
CEC
OAK
BET
BOS
ELP
MIA
ADQ
LBB
MDT
PHX
CLE
DAL
BDL
ALB
BIL
SLC
CVG
PBI
ATL
MEM
CHS
LGA
LGB
FAI
LAX
GTF
CDV
SBA
TPA
SJU
SDF
DFW
BHM
YKM
IAH
IAD
AKN
BHB
GUC
CMH
PVD
SEA
FLL
STL
KTN
OKC
ALW
SJC
VDZ
TUS
SUN
OGG
LIH
RSW
GRR
SBP
SMF
STS
MRY
OMA
ANC
FAT
MSO
PDX
MKE
MMH
ICT
FCA
HDN
MCI
HOU
SAT
CID
COS
DLG
SIT
PBG
DCA
EWR
ABQ
PSC
HNL
ORD
DEN
HLN
SCC
DSM
EUG
BOI
BRW
ITO
BWI
JFK
SNA

In [ ]:
"ABQ", "ADQ", "AKN", "ALB", "ALW", "ANC", "ATL", "AUS", "BDL", "BET", "BHB", "BHM", "BIL", "BLI", "BNA", "BOI", "BOS", "BRW", "BUF", "BUR", "BWI", "BZN", "CDV", "CEC", "CHS", "CID", "CLE", "CLT", "CMH", "COS", "CVG", "DAL", "DCA", "DEN", "DFW", "DLG", "DSM", "DTW", "EAT", "ELP", "ENA", "EUG", "EWR", "FAI", "FAT", "FCA", "FLL", "FSD", "GEG", "GRR", "GTF", "GUC", "HDN", "HLN", "HNL", "HOU", "IAD", "IAH", "ICT", "IND", "ITO", "JAC", "JFK", "JNU", "KOA", "KTN", "LAS", "LAX", "LBB", "LGA", "LGB", "LIH", "LWS", "MAF", "MCI", "MCO", "MDT", "MDW", "MEM", "MFR", "MIA", "MKE", "MMH", "MRY", "MSO", "MSP", "MSY", "OAK", "OGG", "OKC", "OMA", "OME", "ONT", "ORD", "PBG", "PBI", "PDX", "PHL", "PHX", "PIT", "PNS", "PSC", "PSP", "PUW", "PVD", "PWM", "RDM", "RDU", "RIC", "RNO", "ROC", "RSW", "SAN", "SAT", "SBA", "SBP", "SCC", "SDF", "SEA", "SFO", "SIT", "SJC", "SJU", "SLC", "SMF", "SMX", "SNA", "STL", "STS", "SUN", "TPA", "TUS", "VDZ", "YKM"

In [ ]:
local airports1 "ABQ", "ADQ", "AKN", "ALB", "ALW", "ANC", "ATL", "AUS", "BDL"
local airports2 "BET", "BHB", "BHM", "BIL", "BLI", "BNA", "BOI", "BOS", "BRW"
local airports3 "BUF", "BUR", "BWI", "BZN", "CDV", "CEC", "CHS", "CID", "CLE"
local airports4 "CLT", "CMH", "COS", "CVG", "DAL", "DCA", "DEN", "DFW", "DLG"
local airports5 "DSM", "DTW", "EAT", "ELP", "ENA", "EUG", "EWR", "FAI", "FAT"
local airports6 "FCA", "FLL", "FSD", "GEG", "GRR", "GTF", "GUC", "HDN", "HLN"
local airports7 "HNL", "HOU", "IAD", "IAH", "ICT", "IND", "ITO", "JAC", "JFK"
local airports8 "JNU", "KOA", "KTN", "LAS", "LAX", "LBB", "LGA", "LGB", "LIH"
local airports9 "LWS", "MAF", "MCI", "MCO", "MDT", "MDW", "MEM", "MFR", "MIA"
local airports10 "MKE", "MMH", "MRY", "MSO", "MSP", "MSY", "OAK", "OGG", "OKC"
local airports11 "OMA", "OME", "ONT", "ORD", "PBG", "PBI", "PDX", "PHL", "PHX"
local airports12 "PIT", "PNS", "PSC", "PSP", "PUW", "PVD", "PWM", "RDM", "RDU"
local airports13 "RIC", "RNO", "ROC", "RSW", "SAN", "SAT", "SBA", "SBP", "SCC"
local airports14 "SDF", "SEA", "SFO", "SIT", "SJC", "SJU", "SLC", "SMF", "SMX"
local airports15 "SNA", "STL", "STS", "SUN", "TPA", "TUS", "VDZ", "YKM"

In [ ]:
* Adjacent routes indicator
gen adjacent = (inlist(origin, "ABQ", "ADQ", "AKN", "ALB", "ALW", "ANC", "ATL", "AUS", "BDL"))
replace adjacent = 1 if inlist(origin, "BET", "BHB", "BHM", "BIL", "BLI", "BNA", "BOI", "BOS", "BRW")
replace adjacent = 1 if inlist(origin, "BUF", "BUR", "BWI", "BZN", "CDV", "CEC", "CHS", "CID", "CLE")
replace adjacent = 1 if inlist(origin, "CLT", "CMH", "COS", "CVG", "DAL", "DCA", "DEN", "DFW", "DLG")
replace adjacent = 1 if inlist(origin, "DSM", "DTW", "EAT", "ELP", "ENA", "EUG", "EWR", "FAI", "FAT")
replace adjacent = 1 if inlist(origin, "FCA", "FLL", "FSD", "GEG", "GRR", "GTF", "GUC", "HDN", "HLN")
replace adjacent = 1 if inlist(origin, "HNL", "HOU", "IAD", "IAH", "ICT", "IND", "ITO", "JAC", "JFK")
replace adjacent = 1 if inlist(origin, "JNU", "KOA", "KTN", "LAS", "LAX", "LBB", "LGA", "LGB", "LIH")
replace adjacent = 1 if inlist(origin, "LWS", "MAF", "MCI", "MCO", "MDT", "MDW", "MEM", "MFR", "MIA")
replace adjacent = 1 if inlist(origin, "MKE", "MMH", "MRY", "MSO", "MSP", "MSY", "OAK", "OGG", "OKC")
replace adjacent = 1 if inlist(origin, "OMA", "OME", "ONT", "ORD", "PBG", "PBI", "PDX", "PHL", "PHX")
replace adjacent = 1 if inlist(origin, "PIT", "PNS", "PSC", "PSP", "PUW", "PVD", "PWM", "RDM", "RDU")
replace adjacent = 1 if inlist(origin,"RIC", "RNO", "ROC", "RSW", "SAN", "SAT", "SBA", "SBP", "SCC")
replace adjacent = 1 if inlist(origin, "SDF", "SEA", "SFO", "SIT", "SJC", "SJU", "SLC", "SMF", "SMX")
replace adjacent = 1 if inlist(origin, "SNA", "STL", "STS", "SUN", "TPA", "TUS", "VDZ", "YKM")
*destination
replace adjacent = 1 if inlist(destination, "ABQ", "ADQ", "AKN", "ALB", "ALW", "ANC", "ATL", "AUS", "BDL")
replace adjacent = 1 if inlist(destination, "BET", "BHB", "BHM", "BIL", "BLI", "BNA", "BOI", "BOS", "BRW")
replace adjacent = 1 if inlist(destination, "BUF", "BUR", "BWI", "BZN", "CDV", "CEC", "CHS", "CID", "CLE")
replace adjacent = 1 if inlist(destination, "CLT", "CMH", "COS", "CVG", "DAL", "DCA", "DEN", "DFW", "DLG")
replace adjacent = 1 if inlist(destination, "DSM", "DTW", "EAT", "ELP", "ENA", "EUG", "EWR", "FAI", "FAT")
replace adjacent = 1 if inlist(destination, "FCA", "FLL", "FSD", "GEG", "GRR", "GTF", "GUC", "HDN", "HLN")
replace adjacent = 1 if inlist(destination, "HNL", "HOU", "IAD", "IAH", "ICT", "IND", "ITO", "JAC", "JFK")
replace adjacent = 1 if inlist(destination, "JNU", "KOA", "KTN", "LAS", "LAX", "LBB", "LGA", "LGB", "LIH")
replace adjacent = 1 if inlist(destination, "LWS", "MAF", "MCI", "MCO", "MDT", "MDW", "MEM", "MFR", "MIA")
replace adjacent = 1 if inlist(destination, "MKE", "MMH", "MRY", "MSO", "MSP", "MSY", "OAK", "OGG", "OKC")
replace adjacent = 1 if inlist(destination, "OMA", "OME", "ONT", "ORD", "PBG", "PBI", "PDX", "PHL", "PHX")
replace adjacent = 1 if inlist(destination, "PIT", "PNS", "PSC", "PSP", "PUW", "PVD", "PWM", "RDM", "RDU")
replace adjacent = 1 if inlist(destination,"RIC", "RNO", "ROC", "RSW", "SAN", "SAT", "SBA", "SBP", "SCC")
replace adjacent = 1 if inlist(destination, "SDF", "SEA", "SFO", "SIT", "SJC", "SJU", "SLC", "SMF", "SMX")
replace adjacent = 1 if inlist(destination, "SNA", "STL", "STS", "SUN", "TPA", "TUS", "VDZ", "YKM")